---
import { runQuery } from '~/sanity/run-query'
import PortableText from '~/components/common/portable-text/PortableText.astro'
import PageLayout from '~/layouts/PageLayout.astro'
import { postsQuery } from '~/sanity/schemas/post'
import Categories from '~/components/common/Categories.astro'
import type { Post } from '~/sanity/schemas/post'
import { urlForImage } from '~/sanity/image-builder'
import { toPlainText } from 'astro-portabletext/utils'

export async function getStaticPaths() {
  const posts = await runQuery(postsQuery)
  return posts.map((post) => {
    return {
      params: {
        slug: post.slug || '',
      },
      props: { ...post },
    }
  })
}

interface Props extends Post {}

const { publishedAt, categories, title, body, mainImage } = Astro.props
const tags = categories?.map((category) => category.title)
---

<PageLayout
  title={`${title} | BLOG`}
  seo={{
    image: urlForImage(mainImage.asset).url(),
    description: toPlainText(body),
    article: { tags, publishedTime: publishedAt.toDateString() },
  }}
>
  <Categories categories={categories} />
  <span class="text-sm">{publishedAt}</span>
  <h1 class="text-2xl font-bold mb-4">{title}</h1>
  <PortableText value={body} />
</PageLayout>
