---
import { runQuery } from '~/sanity/run-query'
import SanityPicture from './SanityPicture.astro'
import { cn } from '~/utils/style-related'
import { graphicsQuery } from '~/sanity/schemas/graphic'

const graphics = await runQuery(graphicsQuery)

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<section class={cn('flex items-center gap-2', className)}>
  {
    graphics.map((graphic) => {
      const { image, credit, link } = graphic
      const pictureEl = <SanityPicture asset={image.asset} alt={credit} />

      return link ? (
        <a class="w-20" href={link} target="_blank">
          {pictureEl}
        </a>
      ) : (
        <div class="w-20">{pictureEl}</div>
      )
    })
  }
</section>
